@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99px;
}
.header .logo {
    font-size: 1.7em;
    color: white;
    text-decoration: none;
}
.nav a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    margin-left: 40px;
}
.nav a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
}
.nav a:hover::after {
    transform: scaleX(1);
}
.home {
    /*position: relative;*/
    width: 100%;
    height: 100vh;
    background: url('../imagens/3.jpg') no-repeat;
    background-size: cover;
    justify-content: space-between;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 80px 100px 0px;
}
.home .content {
    max-width: 600px;
    color: white;
}
.content h2 {
    font-size: 3em;
    letter-spacing: .03em;
    color: #1e0b04;
}
.content p {
    margin: 10px 0px 40px;
    color: white;
    font-weight: bolder;
}
.content a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    font-weight: 500px;
    padding: 10px 40px;
    border-radius: 40px;
    transition: .5s;
}
.content a:hover {
    background: #1e0b04;
}
.home .login {
    position: relative;
    width: 440px;
}
.login h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}
.login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 40px;
    color: white;
    font-size: 1em;
    padding: 0px 25px 0px 45px;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: bolder;
    color: white;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    font-size: .8em;
    top: -14px;
    left: 17px;
}
.input-box .icon {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
    color: white;
}
.login .remember-forgot {
    font-size: .9em;
    color: white;
    font-weight: bolder;
    margin: -25px 0px 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input {
    accent-color: #1e0b04;
    margin-right: 3px;
}
.remember-forgot a {
    color: white;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.login .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(90deg, #854027, #c76d43);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: bolder;
}
.login .register-link {
    font-size: .9em;
    color: white;
    font-weight: bolder;
    text-align: center;
    margin: 30px 0px;
}
.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
.register-link p a:hover {
    text-decoration: underline;
}